:root {
    --bg-blue : #46bed4;
    --intermediate-blue : #84d3e0;
    --pale-blue: #d6faff;
    --green: #79c74a;
    --red: #e63939;
    --test-blue : #86dbeb;
  }


body {
    margin: auto;
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--bg-blue);
}

.outsideWrapper{ 
    width:600px; height: 600px;; 
    margin:20px 60px; 
    /* border:1px solid blue; */
}
.insideWrapper{ 
    width:600px; height:600px; 
    position:relative;}
.coveredImage{ 
    width:600px; height:600px; 
    position:absolute; top:0px; left:0px;
}
.coveringCanvas{ 
    width:600px; height:600px; 
    position:absolute; top:0px; left:0px;
    background-color: rgba(0,0,0,.1);
}

#radio-container {
    display:flex;
    justify-content:space-around;
    margin-top: 10px;
}

.small-image {
    width:100px; 
    height: 100px;; 
    margin:0;
}

#image-container {
    width:600px; 
    height: 600px;
    display:flex;
    justify-content:flex-start;
    margin: 20px 60px;
    flex-wrap: wrap;
}

#radio-valid-container {
    display:flex;
    justify-content: center;
    width:600px; 
    margin: 10px 60px;
}

#radio-valid-container-2 {
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
}

#ruler-value-container {
    display:flex;
    justify-content: space-around;
}